        html, body
        {
                height: 100%;
        }
       
        body
        {
                margin: 0px;
                padding: 0px;
                background: #404040;
                font-family: 'Quicksand', sans-serif;
                font-size: 12pt;
                font-weight: 400;
                color: #000000;
        }
        
        
        h1, h2, h3
        {
                margin: 0;
                padding: 0;
                color: #404040;
        }
        
        p, ol, ul
        {
                margin-top: 0;
        }
        
        ol, ul
        {
                padding: 0;
                list-style: none;
        }
        
        p
        {
                line-height: 180%;
        }
        
        strong
        {
        }
        
        a
        {
                color: #ff8a0e;
        }
        
        a:hover
        {
                text-decoration: none;
        }
        

        .container
        {
               
                padding-left: 7em; /* Innenabstand dass nicht bis zum Seitenrand geschrieben wird */
                padding-right: 7em;
                
               
        }
              

        
	
	#shopitem
	{
		width: 1200px;
		background-color: aqua;
		height: 300px;
	}
	

        
        
        
 /*********************************************************************************/
/* Einstlelungen verschiedene Screens											 */
/*********************************************************************************/

	@media only screen and (max-device-width: 480px) {
	#menu li:nth-child(2n){
		display: none;
	}

	}




/*********************************************************************************/
/* Form Style */
/*********************************************************************************/

                form
                {
                }
                
                        form label
                        {
                                display: block;
                                text-align: left;
                                margin-bottom: 0.5em;
                        }
                        
                        form .submit
                        {
                                margin-top: 2em;
                                line-height: 1.5em;
                                font-size: 1.3em;
                        }
                
                        form input.text,
                        form select,
                        form textarea
                        {
                                
                                -webkit-appearance: none;
                                border: 0;
                                background: #fff;
                                background: rgba(255,255,255,0.75);
                                border-radius: 0.50em;
                                margin: 1em 0em;
                                box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
                                border: solid 1px rgba(0,0,0,0.15);
                                -moz-transition: all 0.35s ease-in-out;
                                -webkit-transition: all 0.35s ease-in-out;
                                -o-transition: all 0.35s ease-in-out;
                                -ms-transition: all 0.35s ease-in-out;
                                transition: all 0.35s ease-in-out;
                                font-size: 1em;
                                outline: none;
                        }

                                form input.text:hover,
                                form select:hover,
                                form textarea:hover
                                {
                                }

                                form input.text:focus,
                                form select:focus,
                                form textarea:focus
                                {
                                        box-shadow: 0 0 2px 1px #E0E0E0;
                                        background: #fff;
                                }
                                
                                form textarea
                                {
                                        
                                }

                                form .formerize-placeholder
                                {
                                        color: #555 !important;
                                }

                                form ::-webkit-input-placeholder
                                {
                                        color: #555 !important;
                                }

                                form :-moz-placeholder
                                {
                                        color: #555 !important;
                                }

                                form ::-moz-placeholder
                                {
                                        color: #555 !important;
                                }

                                form :-ms-input-placeholder
                                {
                                        color: #555 !important;
                                }

                                form ::-moz-focus-inner
                                {
                                        border: 0;
                                }


/*********************************************************************************/
/* Table Style Guestbook Entry*/
/*********************************************************************************/

#guenstbookTable{
	
	table-layout:fixed;
	text-align:left;
	vertical-align:top;
	margin:0 auto;
	width:100%;
	
}

#guenstbookTable td{
	vertical-align:top;
}






/*********************************************************************************/
/* Image Style */
/*********************************************************************************/

        .image
        {
                display: inline-block;
                border: 1px solid rgba(0,0,0,.1);
        }
        
        .image img
        {
                display: block;
                width: 100%;
        }
        
        .image-full
        {
                display: block;
                width: 100%;
                margin: 0 0 3em 0;
        }
        
        .image-left
        {
                float: left;
                margin: 0 2em 2em 0;
        }
        
        .image-centered
        {
                display: block;
                margin: 0 0 2em 0;
        }
        
        .image-centered img
        {
                margin: 0 auto;
                width: auto;
        }

/*********************************************************************************/
/* List Styles */
/*********************************************************************************/

        ul.style1
        {
        }


/*********************************************************************************/
/* Social Icon Styles */
/*********************************************************************************/

        ul.contact
        {
                margin: 0;
                padding: 2em 0em 0em 0em;
                list-style: none;
        }
        
        ul.contact li
        {
                display: inline-block;
                padding: 0em 0.10em;
                font-size: 1em;
        }
        
        ul.contact li span
        {
                display: none;
                margin: 0;
                padding: 0;
        }
        
        ul.contact li a
        {
                color: #FFF;
        }
        
        ul.contact li a:before
        {
                display: inline-block;
                background: #ff8a0e;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: #FFFFFF;
        }
        

/*********************************************************************************/
/* Button Style */
/*********************************************************************************/

        .button
        {
                display: inline-block;
                margin-top: 0.5em;
                padding: 1em 2em 1em 2em;
                background: #ff8a0e;
                line-height: 1.8em;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 0.8em;
                color: #FFF;
        }
        
        .button:before
        {
                display: inline-block;
                background: #8DCB89;
                margin-right: 1em;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 20px;
                text-align: center;
                color: #272925;
        }
        
        .button-small
        {
        }
                
/*********************************************************************************/
/* Heading Titles */
/*********************************************************************************/

        .title
        {
                margin-bottom: 2em;
        }
        
        .title h2
        {
                font-size: 1.8em;
        }
        
        .title .byline
        {
                text-transform: uppercase;
                font-weight: 400;
                font-size: 1.1em;
                color: #6F6F6F;
        }

/*********************************************************************************/
/* Header */
/*********************************************************************************/

        #header-wrapper
        {        
                
                position:fixed; /*Header oben links bei 0,0 fixiert */
                left:0px; top:0px;
                padding: 0.5em 0.5em 0.5em 0.5em;
                background: url(images/bg01.jpg) repeat-x center top;
                border-bottom: 15px solid rgba(0,0,0,.5);
                height: 140px;
                z-index: 100;
                
        }

        #header
        {
        }
        
        

/*********************************************************************************/
/* Logo */
/*********************************************************************************/

        #logo
        {
        }
        
        #logo h1
        {
                display: inline-block;
                padding: 0.10em 0.9em;
                background: #000;
                font-size: 3em;
        }
        
        #logo a
        {
                text-decoration: none;
                color: #FFF;
        }
        
        #logo span
        {
                display: block;
                text-transform: uppercase;
                font-size: 0.90em;
                color: rgba(255,255,255,0.5);
        }

        #logo span a
        {
                color: rgba(255,255,255,0.8);
        }
        
        

/*********************************************************************************/
/* Menu */
/*********************************************************************************/
		
		#menu
		{
		}
		
        #menu a
        {
                text-decoration: none;
                color: #FFF;
                font-size: 0.90em;
                font-weight: 600;
				text-transform: uppercase;
				display: block;
				padding: 1.1em 1em; /* Padding des Links, damit nicht nur Beschriftung geklcikt werden kann sondern komplette Bock verlinkt ist */

        }
        
       
        
        /*Verbinden der einzelnen Menüpunkte zu einer Leiste*/
       #navigation li
        {    
                background: #ff8a0e;
                text-align: center;
                position: relative;
                float: left;
                list-style: none;              
        }
        
     
        
        #exponateListe
        {
			
        position: absolute;  
        display: none; /*Verstecken des Untermenüs */
		   		
        }
        
        /*Formatierung Links in dem Untermenü*/
        #exponateListe a
        {
			padding: 0.5em 2em; /* Höhe und Breite des Untermenüs */
        }
       


		#exponateListe li
		{
			float: none; /* Vertikale Ausrichtung des Untermenüs */
			display: block;  
			     
        }
        
        /*Hover Effeckt Farbe ändern beim drüber streichen */
        #navigation li:hover{
	        background: #ffa442;
	        display:block;
        }
        
       /*Hover Effeckt Untermenüg ausklappen beim drüber streichen */
        #navigation li:hover ul{
	        display:block;
        }
        

/*********************************************************************************/
/* Banner */
/*********************************************************************************/

        #banner
        {
        }

/*********************************************************************************/
/* Wrapper */
/*********************************************************************************/


        #wrapper
        {
                
                
                background: #FFF;
                max-width: 4000px;
                margin: 0 auto;
                text-align: center;
                
                
                
               
        }
        
     

        #wrapper1
        {

                min-height: 150px;        
                margin: 0 auto;
                text-align: center;
                              
        }

        #wrapper2
        {           
        }

        #wrapper3
        {
        }
        
        #wrapper4
        {
        }

/*********************************************************************************/
/* Welcome */
/*********************************************************************************/

        #welcome
        {
                
                width: 1000px;
                padding: 8em 100px 0em 100px;
                text-align: center;
                color: rgba(0,0,0,0.6);
        }
        
        #welcome .content
        {
                padding: 0em 8em;
        }
        
        #welcome .title h2
        {
                color: rgba(0,0,0,0.8);
        }
        
        #welcome a,
        #welcome strong
        {
                color: rgba(0,0,0,0.8);
        }

/*********************************************************************************/
/* Page */
/*********************************************************************************/

        #page-wrapper
        {
                
                
                background: #F3F3F3;
                text-align: center;
                margin:0 auto;
                margin-top: 140px; /*Den Seiteninhalt um 140 px nach unten geschoben (höhe des Headers */
                padding-top: 3em;
                padding-bottom: 3em;
                
                
        }

        #page
        {
        
        }
        
        

/*********************************************************************************/
/* Content */
/*********************************************************************************/

        #content
        {
                float: left;
                width: 700px;
                padding-right: 100px;
                border-right: 1px solid rgba(0,0,0,.1);
        }

/*********************************************************************************/
/* Sidebar */
/*********************************************************************************/

        #sidebar
        {
                float: right;
                width: 350px;
        }

/*********************************************************************************/
/* Footer */
/*********************************************************************************/

        #footer
        {
                text-align: center;
        }

        
        #footer .title span
        {
                color: rgba(255,255,255,0.4);
        }

/*********************************************************************************/
/* Copyright */
/*********************************************************************************/

        #copyright
        {
                
                padding: 1em 0em;
                border-top: 1px solid rgba(255,255,255,0.08);
                text-align: center;
        }
        
        #copyright p
        {
                text-transform: uppercase;
                font-size: 0.80em;
                color: rgba(255,255,255,0.3);
        }
        
        #copyright a
        {
                text-decoration: none;
                color: rgba(255,255,255,0.6);
        }

/*********************************************************************************/
/* Newsletter */
/*********************************************************************************/

        #newsletter
        {
            
                padding: 8em 0em;
                background: #EDEDED;
                text-align: center;
        }
        
        #newsletter .title h2
        {
                color: rgba(0,0,0,0.8);
        }
        
        #newsletter .content
        {
                width: 600px;
                margin: 0px auto;
        }
        
/*********************************************************************************/
/* Portfolio */
/*********************************************************************************/

        #portfolio
        {
        }
        
        #portfolio .box
        {
                text-align: center;
                color: rgba(0,0,0,0.5);
        }
        
        #portfolio h3
        {
                display: block;
                padding-bottom: 1em;
                text-transform: uppercase;
                font-size: 1em;
                color: rgba(0,0,0,0.6);
        }

        #portfolio .title
        {
                text-align: center;
        }

        #portfolio .title h2
        {
                color: rgba(0,0,0,0.8);
        }

        .column1,
        .column2,
        .column3,
        .column4
        {
                width: 282px;
        }
        
        .column1,
        .column2,
        .column3
        {
                float: left;
                margin-right: 24px;
        }
        
        .column4
        {
                float: right;
        }
/*********************************************************************************/
/* Two Columns          */
/*********************************************************************************/

#two-column{

  		
		overflow: hidden;
        text-align:left;
        margin: 0px auto;
       

}
#two-column div{
       	margin-left: 60px;
        float: left;
        
}



#entryField{
height: 100px;
}


div.webshopItem
	{
		width : 800px;
		height : 200px;
		color :#ffa300;
	}


/*********************************************************************************/
/* Three Columns */
/*********************************************************************************/

        #three-column
        {
			margin:0px auto;
			width: 750px;
                
        }
        
        #three-column h2
        {
               
                text-transform: uppercase;
                font-size: 1.5em;
                font-weight: 700;
        }
        
        #three-column .icon
        {
                position: relative;
                display: block;
                margin: 0px auto 0.80em auto;
                background: none;
                line-height: 150px;
                font-size: 4em;
                width: 150px;
                height: 150px;
                border-radius: 100px;
                border: 6px solid #67128F;
                text-align: center;
                color: #FFF;
                
        }
                
        #three-column #tbox1,
        #three-column #tbox2,
        #three-column #tbox3
        {
                float:left;
                width: 250px;
                padding: 20px 0px 20px 0px;
        }
        
        #three-column .title
        {
                text-align: center;
                text-transform: uppercase;
        }
        
        #three-column .title h2
        {
                font-size: 1.2em;
        }
        
        #three-column .title .byline
        {
                padding-top: 0.50em;
                font-size: 0.90em;
                color: #858585;
        }

        #three-column .arrow-down
        {
                border-top-color: #292929;
        }
/*********************************************************************************/
/* Slide Show         */
/*********************************************************************************/

	#slides
	{
		width: 800px;
		margin: 0px auto;
	}

 

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(images/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
    
/******************************************************/
/*Neu von Mattes für den Button mehr anzeigen   */
/*****************************************************/

	#mehranzeigen{
		vertical-align: center;
		text-align: center;
		width: 20%;
		height: 30px;
		margin-top: 40px;
	}
	
	#forButtonMehrAnzeigen{
		width: 100%;
		height:30px;
		text-align: center;
		background: #F3F3F3;
		vertical-align: middle;
	}