<div class="modal-header">
    <h3>Chat</h3>
</div>
<div class="modal-body">
    <div class="widget" id="">

        <div class="widget-body">
            <ul class="chats normal-chat">
                <li ng-repeat="say in chatJSON" class="{{say.direction}}">
                    <img class="avatar" alt="" ng-src="{{say.avatar}}" />
                    <div class="message">
                        <span class="arrow"></span>
                        <a class="name">{{say.name}}</a>
                        <span class="datetime">{{say.time}}</span>
                        <span class="body">{{say.message}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
	            <div class="chat-form">
                <div class="input-cont">
                    <input type="text" ng-model="chatMessage" placeholder="Type a message here..." />
                </div>
                <div class="btn-cont">
                    <a ng-click="sendChat(chatMessage)" class="btn btn-success">Send</a>
                </div>
            </div>
</div>